#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

input[type="text" i] {
    padding: 1px !important;
    border: 1px solid;
}

.colorRow> :first-child {
    /* animation: rowColorChange 2s linear infinite; */
    background-color: rgba(204, 87, 87, 0.658);
}

@keyframes rowColorChange {
    0% {
        background-color: rgba(204, 87, 87, 0.658);
    }

    50% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: rgba(204, 87, 87, 0.658);
    }
}

input[type="text" i]{
    padding: 4px !important;
}